[server]
[mysqld]

user                    = mysql  # Define o usuário sob o qual o servidor MySQL irá operar.
pid-file                = /run/mysqld/mysqld.pid  # Define o caminho para o arquivo de PID (Process ID).
socket                  = /run/mysqld/mysqld.sock  # Define o caminho para o arquivo de socket usado para conexões locais.
basedir                 = /usr  # Define o diretório base para a instalação do MySQL.
datadir                 = /var/lib/mysql  # Define o diretório onde os dados do MySQL serão armazenados.
tmpdir                  = /tmp  # Define o diretório temporário.
lc-messages-dir         = /usr/share/mysql  # Define o diretório onde as mensagens de localização serão armazenadas.
bind-address            = 0.0.0.0  # Define o endereço IP ao qual o servidor MySQL está vinculado.
query_cache_size        = 16M  # Define o tamanho da memória cache para consultas.
log_error               = /var/log/mysql/error.log  # Define o arquivo de log de erros do MySQL.
expire_logs_days        = 10  # Define o número de dias após os quais os logs antigos serão expirados.
character-set-server    = utf8mb4  # Define o conjunto de caracteres padrão para o servidor.
collation-server        = utf8mb4_general_ci  # Define a ordem de classificação padrão para o servidor.

[embedded]  # Configurações para uso incorporado do servidor MySQL.
[mariadb]  # Configurações específicas do MariaDB.
[mariadb-10.3]  # Configurações específicas para a versão 10.3 do MariaDB.
